<!DOCTYPE HTML>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
  <div id="message">
  </div>
  <br>
  Register<br>
  Username <input type="text" name="register-username"><br>
  Password <input type="text" name="register-password"><br>
  <button name="register">Register</button><br>
  <br>
  Login<br>
  Username <input type="text" name="login-username"><br>
  Password <input type="text" name="login-password"><br>
  <button name="login">Login</button><br>

  <script src="/javascript/index.js" type="text/javascript"></script>
</body>
</html>
