<div class="jumbotron">
  <div class="container text-center">
    <img src="http://i.imgur.com/6BafgCN.png" alt="stackoverfloat" width="500px">

    <div>
    	<a href="/datas" class="btn btn-lg btn-primary">Float Now</a>
    </div>
  </div>
</div>
